body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container {
    display: flex;
    height: 100vh;
  }
  .sidebar {
    width: 200px;
    background-color: rgb(101, 183, 255);
    color: black;
    padding: 20px;
  }
  .sidebar h2 {
    margin-bottom: 20px;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar li {
    margin-bottom: 10px;
  }
  .sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .sidebar a:hover {
    background-color: white;
  }
  .content {
    flex-grow: 1;
    background-color:white;
    padding: 20px;
  }
  .content h1 {
    margin-bottom: 20px;
  }
  #account{
    position: relative;right: 4px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
.content button{
  position: relative;left:1200px;
  position: relative;bottom: 100px;
}
.account {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}